<a class="back-button" href="#home">
  <i class="fa-solid fa-arrow-left-long"></i>
  Back
</a>

<div class="country">
  <div class="country-flag">
    <img src="https://flagcdn.com/br.svg" alt="brasil-flag" />
  </div>

  <div class="country-about">
    <h1>Brasil</h1>
    <div class="infos">
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
      <span class="country-infos">
        Native Name:
        <span>Brasil</span>
      </span>
    </div>
    <div class="border-countries">
      <span>Border Countries:</span>
    </div>
  </div>
</div>
