<a class="back-button" href="#home">
  <i class="fa-solid fa-arrow-left-long"></i>
  Back
</a>

<div class="country">
  <div class="country-flag">
    <img src="{{ flag }}" alt="{{ name }}-flag" />
  </div>

  <div class="country-about">
    <h1>{{ name }}</h1>
    <div class="infos">
      <span class="country-infos">
        Native Name:
        <span>{{ nativeName }}</span>
      </span>

      <span class="country-infos">
        Population
        <span>{{ maskedPopulation }}</span>
      </span>

      <span class="country-infos">
        Region:
        <span>{{ region }}</span>
      </span>

      <span class="country-infos">
        Sub Region:
        <span>{{ subregion }}</span>
      </span>

      <span class="country-infos">
        Capital:
        <span>{{ capital }}</span>
      </span>

      <span class="country-infos">
        Top Level Domain:
        <span>{{ topLevelDomain }}</span>
      </span>

      <span class="country-infos">
        Currencies:
        <span>{{ currency }}</span>
      </span>

      <span class="country-infos">
        Languages:
        <span>{{ allLangs }}</span>
      </span>
    </div>
    <div class="border-countries">
      <span>Border Countries:</span>
    </div>
  </div>
</div>
