.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 50px;
}

rca-countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: space-between;
  gap: 35px;
  padding: 0 40px;

  .no-countries {
    font-family: "Poppins";
    color: var(--text);
  }
}

@media (max-width: 675px) {
  rca-countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 570px) {
  nav {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;

    rca-search-bar {
      margin: 20px 0;
    }
  }
}
