@import "../../scss/_vars.scss";

rca-search-bar {
  display: flex;
  align-items: center;
  background-color: var(--white);
  width: max(30vw, 300px);
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 3px 3px var(--light-black);

  i {
    margin: 0 30px;
    color: var(--text);
    transition: 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  input {
    width: 85%;
    border: none;
    background: none;
    height: 100%;
    outline: none;

    &::placeholder {
      position: absolute;
      top: 50%;
      transform: translate(-0%, -50%);
      transition: 0.4s;
      color: var(--text);
    }

    &:focus {
      &::placeholder {
        top: 10%;
        font-size: 10px;
      }
    }
  }
}
