@import "_reset.scss";
@import "_vars.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  background-color: var(--white);
  box-shadow: 0 4px 2px -2px var(--light-black);

  h1 {
    font: 800 20px "Fira Sans";
    color: var(--text);
  }

  .modes {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      margin-right: 10px;
      color: var(--text);
    }

    font: 400 14px "Poppins";
  }
}

.country-infos {
  font: 800 13px "Nunito Sans";
  margin-bottom: 10px;

  span {
    font-weight: 300;
  }
}

span {
  color: var(--text);
}

:root {
  @each $name, $color in $light-mode {
    --#{$name}: #{$color};
  }
  .dark {
    @each $name, $color in $dark-mode {
      --#{$name}: #{$color};
    }
  }
}
